<?xml version="1.0" encoding="utf-8"?>
<!-- dotnet publish src/NetSpider.Probe -p:PublishProfile=linux-arm64 -->
<Project>
  <PropertyGroup>
    <Configuration>Release</Configuration>
    <RuntimeIdentifier>linux-arm64</RuntimeIdentifier>
    <SelfContained>true</SelfContained>
    <PublishSingleFile>true</PublishSingleFile>
    <PublishTrimmed>true</PublishTrimmed>
    <PublishDir>bin/publish/linux-arm64/</PublishDir>
  </PropertyGroup>
</Project>
