<?xml version="1.0" encoding="utf-8"?>
<!-- dotnet publish src/NetSpider.Probe -p:PublishProfile=win-x86 -->
<Project>
  <PropertyGroup>
    <Configuration>Release</Configuration>
    <RuntimeIdentifier>win-x86</RuntimeIdentifier>
    <SelfContained>true</SelfContained>
    <PublishSingleFile>true</PublishSingleFile>
    <PublishTrimmed>true</PublishTrimmed>
    <PublishDir>bin/publish/win-x86/</PublishDir>
  </PropertyGroup>
</Project>
